doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        title Jhosse Paul Márquez Ruíz - Data Scientist/Biologist
        //- Favicons and Android NavBar color
        link(rel="icon", href="img/favicon.ico")
        link(rel="icon", type="image/png", href="img/favicon.png")
        meta(name="theme-color", content="#2ba5e0")
        //- CSS Files
        link(rel="stylesheet", href="css/fonts.css")
        block head
            // Librerías extra
        
    body
        block content
            //- Contenido de la página
        block footer
            //- Footer de la página
        
        script(src="js/vendor.js")
        script(src="js/app.js")
        
        block scripts
            //- Scripts extra
