doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="I'm a enthusiatic biologist who love maths and programming")
        meta(name="author" content="Paul Márquez")
        meta(name="theme-color", content="#2ba5e0")

        title Jhosse Paul Márquez Ruíz - Data Scientist/Biologist
        
        link(rel="shortcut icon", type="image/png", href="/img/favicon.png")

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css")
        link(rel="stylesheet", href="assets/animate.css")
        link(rel="stylesheet", href="assets/landing-page.css")

        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        block head
            // Librerías extra
        
    body
        div.is-hidden
            include ./includes/inline.svg

        //- Navigation
        - var navclasses = ["navbar", "navbar-default", "navbar-fixed-top", "topnav"]
        nav(class=navclasses, role="navigation")
            div.container.topnav
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toogle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.topnav(href="#") 
                        img.logo(src="/img/favicon.png")
                        span.titulo Paul Márquez Ruíz
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#about") About
                        li
                            a(href="#services") Services
                        li
                            a(href="#contact") Contact

        block content
            //- Contenido de la página
        block footer
            //- Footer de la página

        script(src="js/vendor.js")        
        block scripts
            //- Scripts extra
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="js/app.js")
