extends layouts/_layout-primary
   
block content
    div.jumbotron
        h1 Data Science
        p The power of knowledge
    div.content-section-a
        div.container
            div.row
                div.col-lg-5.col-sm-6
                    hr.section-heading-spacer
                    div.clearfix
                    h2.section-haeding Hola


