extends layouts/_layout-primary

block content
    a(name="about")
    div.intro-header
        div.container
            div.col-lg-12
                //- img.profile-picture(src="/img/cv.jpg")
                div.intro-message
                    h1 Theoretical Biologist & Data Scientist
                    h3 If you can measure it, you can analyze it
                    hr.intro-divider
                    ul.list-inline.intro-social-buttons
                        li
                            a.btn.btn-default.btn-lg(href="https://twitter.com/JPaulMR")
                                i.fa.fa-twitter.fa-fw
                                span.network-name Twitter
                        li
                            a.btn.btn-default.btn-lg(href="https://github.com/JhossePaul/")
                                 i.fa.fa-github.fa-fw
                                 span.network-name Github
                        li
                            a.btn.btn-default.btn-lg(href="https://mx.linkedin.com/in/jhossepaul")
                                i.fa.fa-linkedin.fa-fw
                                span.network-name Linkedin
    a(name="services")
        div.content-section-a
            div.container
                div.row
                    div.col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        div.clearfix
                        h2.section-heading Unleash the power of your data
                        p.lead Powerful analytics from a scientific perspective
                        button.btn.btn-primary Read more about
                    div.col-lg-5.col-sm-6.pull-left
                        #dygraph
        div.content-section-b
            div.container
                div.row
                    div.col-lg-5.col-sm-6.col-lg-offset-1.col-sm-push-6.col-sm-6
                        hr.section-heading-spacer
                        div.clearfix
                        h2.section-heading Mathematical and Theoretical Biology
                        p.lead.
                            A robust fresh up-to-date approach to evolutionary and ecological theory through dynamical system, stochastic processes and network analysis
                            $$ \dot{x}_i =  x_{i} [f_i(x) - \phi(x) ], \phi(x) = \sum x_j f_j(x) $$
                        div.col-lg-5.col-sm-pull-6.col-sm-6
                          //-  #network
                          img.img-responsive(src="https://lh4.googleusercontent.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAADbYE/GDijV4pFlE8/s0-c-k-no-ns/photo.jpg")
                            
        div.content-section-a
            div.container
                div.row
                    div.col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        div.clearfix
                        h2.section-heading Scientific Computing <br> Data Visualization
                        p.lead.
                            Great expertise in data analysis. Highly creative real-time visualization with the 
                            best and most popular scientific programming languages
                    div.col-lg-5.col-lg-offset-2.col-sm-6
                        div.col-sm-6 
                            svg.icon
                                use(xlink:href='#rlogo')
                        div.col-sm-6
                            svg.icon
                                use(xlink:href="#python")

block scripts
    script(src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
