extends layouts/_layout-primary

block content
    a(name="about")
    div.intro-header
        div.container
            div.row
                div.col-lg-12
                    div.intro-message
                        img.img-responsive.img-thumbnail.profile-picture(src="/img/cv.jpg")
                        h1 Theoretical Biologist & Data Scientist
                        h3 If you can measure it, you can analyze it
                        hr.intro-divider
                        ul.list-inline.intro-social-buttons
                            li
                                a.btn.btn-default.btn-lg(href="https://twitter.com/JPaulMR")
                                    i.fa.fa-twitter.fa-fw
                                    span.network-name Twitter
                            li
                                a.btn.btn-default.btn-lg(href="https://github.com/JhossePaul/")
                                    i.fa.fa-github.fa-fw
                                    span.network.name Github
                            li
                                a.btn.btn-default.btn-lg(href="https://mx.linkedin.com/in/jhossepaul")
                                    i.fa.fa-linkedin.fa-fw
                                    span.network.name Linkedin
    a(name="services")
        div.content-section-a
            div.container
                div.row
                    div.col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        div.clearfix
                        h2.section-heading Unleash the power of your data
                        p.lead Powerful analytics with a scientific perspective
                    div.col-lg-5.col-sm-6.col-lg-offset-2
                        img.img-responsive(src="http://maxcdn.webappers.com/img/2009/12/dygraphs-javascript.jpg")
        div.content-section-b
            div.container
                div.row
                    div.col-lg-5.col-sm-6.col-lg-offset-1.col-sm-push-6
                        hr.section-haeding-spacer
                        div.clearfix
                        h2.section-heading Mathematical and Theoretical Biology
                        p.lead.
                            A robust fresh up-to-date approach to evolutionary and ecological theory through dynamical system, stochastic processes and network analysis
                            $$ \dot{x}_i =  x_{i} [f_i(x) - \phi(x) ], \phi(x) = \sum x_j f_j(x) $$
                        div.col-lg-5.col-sm-pull-6.col-sm-6
                            img.img-responsive(src="/img/dynamics.png")
                            
        div.content-section-a
            div.container
                div.row
                    div.col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        div.clearfix
                        h2.section-heading Scientific Computing <br> Data Visualization
                        p.lead.
                            Great expertise in data fetching, warehouse, wrangling, mining,
                            and analysis. Highly creative real-time visualization with the 
                            best and most popular scientific programming languages
                    div.col-lg-5.col-lg-offset-2.col-sm-6
                        div.col-sm-4 
                            svg.icon.rlogo
                                use(xlink:href="#rlogo")

block scripts
    script(src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
